
NWC/Intermediate/CachedAssetRegistry.bin
NWC/Saved/Logs/NWC.log
NWC/Intermediate/CachedAssetRegistry.bin
NWC/Saved/AutoScreenshot.png
NWC/Saved/Config/Windows/EditorPerProjectUserSettings.ini
NWC/Saved/Logs/NWC.log
