
NWC/Intermediate/CachedAssetRegistry.bin
NWC/Saved/AutoScreenshot.png
NWC/Saved/Config/CrashReportClient/UE4CC-Windows-70275B91429D9B682410E794193CCCA9/CrashReportClient.ini
NWC/Saved/Config/Windows/EditorPerProjectUserSettings.ini
NWC/Saved/Logs/NWC-backup-2023.01.23-09.52.48.log
NWC/Saved/Logs/NWC.log
NWC/Saved/Logs/NWC.log
NWC/Saved/Logs/NWC-backup-2023.01.23-10.21.03.log
NWC/Saved/Config/CrashReportClient/UE4CC-Windows-9DF1AA5D45C6E33B7C044880B9BF5672/CrashReportClient.ini
NWC/Saved/AutoScreenshot.png
NWC/Intermediate/CachedAssetRegistry.bin
*.bin
*.png
*.ini
*.log
